* {
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 10px;
  padding-left: 10px;
}
#building {
  min-height: 90vh;
  min-width: 90vw;
  display: flex;
  align-items: end;
}
#floors {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#elevators {
  display: flex;
  align-items: end;
}
.elevator {
  height: 100%;
  width: var(--floor-height);
  position: relative;
  padding-left: 2px;
}
.elevator img {
  position: absolute;
  bottom: 0;
  width: var(--floor-height);
}
.timer {
  background-color: rgba(205, 203, 203, 0.635);
  font-size: 2.2rem;
  padding: 3px 5px;
  border-radius: 50px;
  font-family: monospace;
  margin-right: 5px;
  opacity: 0;
}
.timer.active {
  opacity: 1;
}

.blackline {
  height: 7px;
  background-color: #000000;
}


